name: Test, bygg, scan og deploy

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - 'LICENSE'
      - 'CODEOWNERS'
  workflow_dispatch:

jobs:
  test:
    uses: sif-gha-workflows/.github/workflows/gradle-test.yml@main
    secrets: inherit
    with:
      readertoken: false

  build:
    uses: sif-gha-workflows/.github/workflows/gradle-build.yml@main
    secrets: inherit
    with:
      team: omsorgspenger
      dockercontext: .
      readertoken: false

  scan:
    needs: build
    uses: sif-gha-workflows/.github/workflows/gradle-dep-security.yml@main
    secrets: inherit
    with:
      image: ${{ needs.build.outputs.image }}

  deploy:
    needs: [ build, scan ]
    uses: sif-gha-workflows/.github/workflows/gradle-deploy.yml@main
    secrets: inherit
    with:
      image: ${{ needs.build.outputs.image }}
      environment: gcp
      deploy-prod: true
      
