name: Dependency Submission
on:
  push:
    branches:
      - master
    paths:
      - "build.gradle.kts"
  workflow_dispatch:
  
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
  #    uses: navikt/sif-gha-workflows/.github/workflows/gradle-dependency-submission.yml@main
  #    secrets: inherit
  #    with:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: corretto
      - uses: mikepenz/gradle-dependency-submission@aa82af7186ba17eb630a7d47c840ba8a3185ac91
        with:
          fail-on-error: true
          gradle-build-module: |-
             :
          gradle-build-configuration: |-
            compileClasspath
